.BuildControls {
    width:100%;
    background-color: #CF8F2E;
    /* flex box to position the build controls correctly*/
    display: flex;
    /* position them beneath each other */
    flex-flow: column;
    /* align text in the center */
    align-items:center;
    box-shadow: 0 2px 1px #ccc;
    margin:auto;
    padding:10px 0;
}